{{- $name := "John Paul Ashenfelter" -}}
{{- $email := "john@ashenfelter.com" -}}
{{- $github_user := "johnpaulashenfelter" -}}
{{- $hostname := "jp-computer" -}}
{{- $work := false -}}

{{ if stdinIsATTY }}
  {{- $hostname = promptString "hostname" -}}
  {{- $work = promptBool "work" -}}
{{ end }}

["data"]
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  github_user = {{ $github_user | quote }}
  computer_name = {{ $hostname | quote }}
  hostname = {{ $hostname | quote }}
  work = {{ $work }}
  
