#!/usr/bin/env bash

# Check for SSH keys
if [ -f "$HOME/.ssh/id_rsa" ] || [ -f "$HOME/.ssh/id_ecdsa" ] || [ -f "$HOME/.ssh/id_ed25519" ]; then
    echo "SSH key(s) found:"
    ls -l $HOME/.ssh/id_*
else
    echo "No SSH keys found."
    # Create SSH key
	# https://docs.github.com/en/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent
	ssh-keygen -t ed25519 -f ~/.ssh/id_ed25519 -C {{ .email | quote }}
	ssh-add --apple-use-keychain ~/.ssh/id_ed25519
fi

# Check for GPG keys
if gpg --list-secret-keys --keyid-format=long > /dev/null 2>&1; then
    echo "GPG secret keys found:"
    gpg --list-secret-keys --keyid-format=long
else
    echo "No GPG secret keys found."
	# Create gpg key
	# https://docs.github.com/en/authentication/managing-commit-signature-verification/generating-a-new-gpg-key
	gpg --full-generate-key
	echo "$(brew --prefix)/bin/pinentry-mac"  >> ~/.gnupg/gpg-agent.conf
	gpgconf --kill gpg-agent
	gpgconf --launch gpg-agent

	GPG_KEY=$(gpg --list-secret-keys --keyid-format=long | awk '/sec/{print $2}' | cut -d'/' -f2
	git config --global user.signingkey $GPG_KEY
	gpg --armor --export $GPG_KEY
fi


GPG_KEY=$(gpg --list-secret-keys --keyid-format=long | awk '/sec/{print $2}' | cut -d'/' -f2
echo $GPG_KEY
