{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

# ~/.macos — https://mths.be/macos
# https://github.com/narze/dotfiles/blob/master/chezmoi/.chezmoiscripts/run_once_after_98-macos-preferences.sh
# Close any open System Preferences panes, to prevent them from overriding
# settings we’re about to change
osascript -e 'tell application "System Preferences" to quit'

# Ask for the administrator password upfront
sudo -v

# Keep-alive: update existing `sudo` time stamp until `.macos` has finished
while true; do
  sudo -n true
  sleep 60
  kill -0 "$$" || exit
done 2>/dev/null &

# https://macos-defaults.com/

# FINDER

# Expand save panel by default
defaults write NSGlobalDomain NSNavPanelExpandedStateForSaveMode -bool true
defaults write NSGlobalDomain NSNavPanelExpandedStateForSaveMode2 -bool true

# Expand print panel by default
defaults write NSGlobalDomain PMPrintingExpandedStateForPrint -bool true
defaults write NSGlobalDomain PMPrintingExpandedStateForPrint2 -bool true

# Save to disk (not to iCloud) by default
defaults write NSGlobalDomain NSDocumentSaveNewDocumentsToCloud -bool false

# Automatically quit printer app once the print jobs complete
defaults write com.apple.print.PrintingPrefs "Quit When Finished" -bool true


# Use list view in all Finder windows by default
# Four-letter codes for the other view modes: `icnv`, `clmv`, `glyv`
defaults write com.apple.finder FXPreferredViewStyle -string "Nlsv"

# Small Finder sidebar
defaults write NSGlobalDomain "NSTableViewDefaultSizeMode" -int "1" 

# Show path bar
defaults write com.apple.finder "ShowPathbar" -bool "true"

# Keep folders on top
defaults write com.apple.finder "_FXSortFoldersFirst" -bool "true"

# Show the ~/Library folder
# chflags nohidden ~/Library

# DESKTOP
# Folders first
defaults write com.apple.finder "_FXSortFoldersFirstOnDesktop" -bool "true"
# Show hard disk
defaults write com.apple.finder "ShowHardDrivesOnDesktop" -bool "true"

# SAFARI
# defaults write com.apple.safari "ShowFullURLInSmartSearchField" -bool "true"

# DOCK
# Automatically hide and show the Dock
defaults write com.apple.dock autohide -bool true

# Don’t show recent applications in Dock
defaults write com.apple.dock show-recents -bool false

# Cleanup preinstalled Dock icons
for dockItemLabel in \
  Launchpad \
  Mail \
  FaceTime \
  Freeform \
  "iPhone Mirroring" \
  Messages \
  Maps \
  Photos \
  Contacts \
  Reminders \
  Notes \
  Music \
  TV \
  News \
  Keynote \
  Numbers \
  Pages \
  "App Store" \
  "System Settings" ; do
  dockutil --find "$dockItemLabel" >/dev/null && dockutil --no-restart --remove "$dockItemLabel"
done

killall Dock

######################
# Misc from web
######################

# Source: https://mmazzarolo.com/blog/2022-04-16-drag-window-by-clicking-anywhere-on-macos/
# Effect: control+command_click to move with with mouse from anywhere in window

defaults write -g NSWindowShouldDragOnGesture -bool true

echo "Done. Note that some of these changes require a logout or restart to take effect."

{{ end -}}
