{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash
#
ln -Fs {{ joinPath .chezmoi.sourceDir "../settings/sublime_text/preferences" | quote }}  ~/Library/Application\ Support/Sublime\ Text/Packages/

{{ end -}}